---
import BaseLayout from '@/layouts/BaseLayout.astro';
import CampHero from '@/components/sections/CampHero.astro';

import itfLogo from '@/assets/images/sponsors/1200px-Logo_IFT.svg_.png';
import tournoiImg from '@/assets/images/select/junior-tournament.avif';

const title = "Junior Tournament Grad 3 - Advanced Tennis Camp";
const description = "We want to encourage young Swiss Tennis players to compete. 128 U18 players for 7 days.";
---

<BaseLayout title={title} description={description} transparentHeader={true}>
  <CampHero
    title="Junior Tournament Grad 3"
    subtitle="FROM JUNE 27th TO JULY 04th 2026"
    buttonText="CONTACT & BOOKINGS"
    buttonLink="/en/contact/"
    heroImage={tournoiImg}
    secondaryImage={itfLogo}
    secondaryImageAlt="ITF Logo"
  >
    <p class="italic">
      We want to encourage young Swiss Tennis player to compete.
    </p>
    
    <p>
      For <strong>7 days in a row</strong>, <strong>128 U18 girls and boys players mainly from Switzerland will participate</strong>.
    </p><br>
    
    <p>
      <strong>INFORMATION, HOSPITALITY & PRICES |</strong> Coming soon…
    </p><br>
    
    <p class="italic text-primary">
      #BUILDINGTHENEXTGENERATION
    </p><br>
    
    <p>
      <a href="https://www.instagram.com/advanced.tennis.academy/" target="_blank" rel="noopener" class="text-primary font-bold hover:underline">
        Follow us on Instagram
      </a>
    </p>
  </CampHero>
</BaseLayout>
