---
import { Image } from 'astro:assets';
import SingleFeature from './SingleFeature.astro';

interface Props {
  title: string;
  subtitle: string;
  buttonText: string;
  buttonLink: string;
  heroImage: ImageMetadata;
  secondaryImage: ImageMetadata;
  secondaryImageAlt?: string;
}

const { 
  title, 
  subtitle, 
  buttonText, 
  buttonLink, 
  heroImage, 
  secondaryImage,
  secondaryImageAlt = "Partner Logo"
} = Astro.props;
---

<section class="bg-white overflow-hidden transform-gpu" data-camp-hero>
  <div class="mx-auto">
    <div class="relative overflow-hidden" data-hero-image-container>
      <Image 
        src={heroImage} 
        alt={title} 
        class="w-full h-auto min-h-[90vh] object-cover z-0 transform-gpu" 
        data-hero-image
      />
    </div>
    
    <SingleFeature
      headline={title}
      tagline={subtitle}
      primaryButtonText={buttonText}
      primaryButtonHref={buttonLink}
      isReversed={true}
      class=""
    >
      <Image 
        slot="image"
        src={secondaryImage}
        alt={secondaryImageAlt} 
        class="w-64 h-64 object-contain mx-auto"
      />
      <slot />
    </SingleFeature>
  </div>
</section>
<script>
  import { animate, onScroll, createScope } from 'animejs';
  const campHeroSection = document.querySelector('[data-camp-hero]') as HTMLElement;
  const campHeroImageContainer = document.querySelector('[data-hero-image-container]') as HTMLElement;
  const campHeroImage = document.querySelector('[data-hero-image]') as HTMLElement;
  if (campHeroSection) {
    animate(campHeroImageContainer, {
      translateY: [0, -100],
      anchorPoint: 'center top',
      scale: [1, 0.65],

      autoplay: onScroll({
        target: campHeroSection,
        enter: 'top top',
        leave: 'top 25%',
        sync: true,
      }),
    });
    animate(campHeroImage, {
      borderRadius: [0, "1rem"],
      autoplay: onScroll({
        target: campHeroImage,
        enter: 'top top',
        leave: 'top 25%',
        sync: true,
      }),
    });
  }
</script>

