---
import BaseLayout from '@/layouts/BaseLayout.astro';
import CampHero from '@/components/sections/CampHero.astro';

import itfLogo from '@/assets/images/sponsors/1200px-Logo_IFT.svg_.png';
import tournoiImg from '@/assets/images/select/junior-tournament.avif';

const title = "Tournoi Junior Grad 3 - Advanced Tennis Camp";
const description = "Nous voulons contribuer à encourager les jeunes joueurs et joueuses de tennis suisse à faire de la compétition. 128 joueurs U18 pendant 7 jours.";
---

<BaseLayout title={title} description={description} transparentHeader={true}>
  <CampHero
    title="Tournoi Junior Grad 3"
    subtitle="DU 27 juin AU 04 JUILLET 2026"
    buttonText="CONTACT & INSCRIPTIONS"
    buttonLink="/contact/"
    heroImage={tournoiImg}
    secondaryImage={itfLogo}
    secondaryImageAlt="ITF Logo"
  >
    <p class="italic">
      Nous voulons contribuer à encourager les jeunes joueurs et joueuses de tennis suisse à faire de la compétition.
    </p>
    
    <p>
      Pendant <strong>7 jours</strong> consécutifs, près de <strong>128 joueurs.euses U18</strong>, essentiellement suisses, se rencontreront.
    </p><br>
    
    <p>
      <strong>INFORMATIONS, HOSPITALITÉS & TARIFS |</strong> Prochainement…
    </p><br>
    
    <p class="italic text-primary">
      #BUILDINGTHENEXTGENERATION
    </p><br>
    
    <p>
      <a href="https://www.instagram.com/advanced.tennis.academy/" target="_blank" rel="noopener" class="text-primary font-bold hover:underline">
        Suivez-nous sur Instagram
      </a>
    </p>
  </CampHero>
</BaseLayout>
